* {
  font-family:   Helvetica, "Noto Sans CJK TC", "Source Han Sans TWHK", "Open Sans", "PingFang TC", "PT Sans Narrow", "Microsoft JhengHei", sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

}
p {
  font-size:"15px";
}
#photo-carousel-inner{
	height:430px;
}
#myCarousel{
	height:430px;
}
.carousel-caption{
	top:50px;
}

.carousel .item {
	height:430px;
}